.tab-page {
    background-image: linear-gradient(to right, rgb(0, 4, 33), rgb(0,9,77), rgb(0,4,33));
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, h3 {
    font-family: 'sans-serify';
    color: gold;
    padding: 1.5rem 1rem 0;
    letter-spacing: 0.2rem;
}

p, li, ul {
    color: white;
    padding: 1.2rem 1rem;
}

.link {
    color: rgb(110, 229, 229);
    text-decoration: none;
}

img {
    z-index: 1;
}

.card {
    background-image: linear-gradient(to bottom right, rgba(255,255,255, 0.1), rgba(255,255,255,0.3));
    border-radius: 20px;
    padding: 20px;
    margin: 2px 0px;
    display: block;
    width: calc(100% - 80px);
    transition: background-image 1s ease-out;
}

.card:hover {
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.3), rgba(255,255,255,0.5));
}

#funtree {
    width: 20%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    border-radius: 20px;
}


#fun-title-card {
    display: flex;
    flex-direction: row;
}

#fun-title-text {
    flex-direction: column;
}

/* Privacy Tab Items */


/* home Tab Items */


/* Wedding Tab Items */
#wed-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#wedPic {
    width: 70%;
    object-fit: contain;
    border-radius: 10px;
}



/* About Me Items */
#abt-title-card {
    display: flex;
    flex-direction: row;
}
#duncan {
    z-index: 1;
    width: 30%;
    border-radius: 10px;
}

/* Other Tab Items */
#buddy {
    width: 50%;
    border-radius: 20px;
}
